:root {
  --vp-c-brand-1: #00a000;
  --vp-c-brand-2: #00c000;
  --vp-c-brand-3: #00e000;
  --vp-c-brand-soft: rgba(0, 160, 0, 0.14);
}

.dark {
  --vp-c-brand-1: #00d000;
  --vp-c-brand-2: #00b000;
  --vp-c-brand-3: #00a000;
  --vp-c-brand-soft: rgba(0, 208, 0, 0.16);
}

.vp-doc a {
  color: var(--vp-c-brand-1);
}

.vp-doc a:hover {
  color: var(--vp-c-brand-2);
}
